TTCodeChallenge/.vs/
TTCodeChallenge/packages/
TTCodeChallenge/TestResults/
TTCodeChallenge/TTCodeChallenge/bin/
TTCodeChallenge/TTCodeChallenge/obj/
TTCodeChallenge/UnitTests/bin/
TTCodeChallenge/UnitTests/obj/